body{
    background-color: silver;
    background-image: url(paisagem-natural-og.webp);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
h1{
    color:blue;
    background-color: aqua;
}
h2{
    color:aquamarine;
    background-color: blueviolet;
}
h3{
    color:azure;
    background-color: beige;
}
h4{
    color:bisque;
    background-color: blanchedalmond;
}
h5{
    color: brown;
    background-color: blueviolet;
}
h6{
    color: black;
    background-color: aliceblue;
}
.lagarta{
    height:400px;
    width:400px;
    border-radius: 50%;
    border: 5px solid silver;
}